.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;



}
.logo{
    width: 200px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: white;
}